.settings-sidebar{
    display: none;
    position: fixed;
    overflow: scroll;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(7px);
    z-index: 20;
}

.units-container{
    position: absolute;
    top: 4rem;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
}

.units-button{
    margin: 1rem 0;
    width: 7rem;
    height: 2rem;
    background: none;
    border: solid;
    border-width: 0.1rem;
    border-color: white;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;
}

.units-button:hover{
    transform: scale(1.05);
}

.settings-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    font-size: 1.2rem;
}

#temp-unit, #speed-unit, #precipitation-unit, #elevation-unit{
    width: 5rem;
    height: 1.5rem;
    border-radius: 1rem;
    outline: none;
    margin-left: 0.5rem;
}

#temp-unit{
    width: 6.3rem;
}

#precipitation-unit{
    width: 5.3rem;
}

input{
    margin-right: 1rem;
}

ul:last-child{
    padding-bottom: 10rem;
}